@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0b0f1a;
  }
  a:hover {
    color: #e5ff00;
  }

}
